class {{.className}} extends UIPanel {
	{{.valueVar}}
    constructor() {
        super();
    }

    protected initView(): void {
        
    }

    protected configHandler(): void {
		{{.listenValue}}
    }
	{{.funcValue}}	
    protected updateView(): void {

    }

    protected onRemove(): void {

    }
}
