class {{.}} extends UIPanel{
    constructor(){
        super();
    }
	
	protected initView():void{
	
	}

    protected configHandler():void{
        
    }

    protected updateView():void{

    }
}